fastapi[all]==0.111.0
httpx
openai
chromadb
pymongo
pyreadline3
python-dotenv


gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
pytz

pandas
openpyxl 
xlrd
python-multipart
aiofiles

razorpay

